* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #330668;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #0f0b0b;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    outline: none;
    background-color: #6a88ee;
}

.btn:hover {
    background-color: #eaeaea;
}

.btn:active {
    background-color: #ddd;
}
